/*!
 * =====================================================
 *  DarkQueen CSS v1.1.0
 *  https://github.com/gabriidev/DarkQueen
 *  © 2026 gabriidev
 *  App de películas y series
 * =====================================================
 */

 #loader-container{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#0b0b0b;display:flex;justify-content:center;align-items:center;z-index:9999;transition:opacity 0.5s ease,visibility 0.5s ease;}
.loader-hidden{opacity:0;visibility:hidden;}
.card{position:relative;}
.card-loader-container{position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center;background:#1a1a1a;z-index:5;border-radius:8px;}
.loader{width:35px;height:35px;border:4px solid rgba(255,255,255,0.1);border-bottom-color:#1b5e20;border-radius:50%;display:inline-block;box-sizing:border-box;animation:rotation 1s linear infinite;}
@keyframes rotation{0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}
